{{! Previous/next page links - only displayed on page 2+ }}
<!--<div class="extra-pagination inner">-->
    <!--{{pagination}}-->
<!--</div>-->

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
    <article class="{{post_class}}">
        <div class="PostContent">
            <section class="PostPhoto clearfix">
                {{#if image}}
                    <img src="{{image}}">
                {{else}}
                    <img style="opacity: 0.5" src="{{blog.url}}/assets/images/postdefault.png">
                {{/if}}
            </section>
            <section class="PostCopyBox clearfix">
                <h1><a href="{{url}}">{{{title}}}</a></h1>
                <section class="PostCopy">
                    <p>{{excerpt words="26"}} <a href="{{url}}">&raquo;</a></p>
                </section>
                <h5><a href="{{url}}">Read more&gt;</a></h5>
                <div class="PostMeta clearfix">
                    <h5>Tags: {{#if tags}}{{tags postfix="&gt;"}}{{/if}}</h5>
                    {{#if author.image}}<img class="AuthorThumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
                    {{author}}
                    <time class="PostDate" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                </div>
            </section>
        </div>
    </article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<!--{{pagination}}-->
